@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vh;
  height: 100vh;
    background: linear-gradient(-45deg, #515151, #757575, #656565, #464646);

}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .aktiv {
	color: #fff;
}

.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide a {
	color: #fff;
	font-size: 36px;
}
.logout{
  top: 100%;
  bottom: 1%;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	background-color: #808080;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3);
}